:root{
    --primary-text-color:#757575;
    --primary-white-color:#ffffff;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-bg-color:#2F303A;
    --inactive-btn-color:#F5F4FA;
}

body {
background-color: var(--primary-white-color);
color: var(--primary-text-color);
}

.list{
    list-style:none;
}

.btn{
    cursor: pointer;
    border: none;
}

.section .title {
    color: var(--title-text-color);
}

.section.title.hid {
    display: none;
}

/* Header */
.logo .first-part{
color: var(--accent-color);
}

/* Site navigation */
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
color: var(--accent-color);
}
/* Contacts */
.contact .link{
    color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}
/* Hero */
.hero {
    background-color: var(--secondary-bg-color);
}
.hero .title{
    color: #ffffff;
}
.hero .btn{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
/* Features */
.features .title{
    color: var(--title-text-color);
}
/* What we do */

/* Team */
.section.team{
    background-color: #F5F4FA;
}
.team .title{
    color: var(--title-text-color);
}

.team .cards{
    background-color: var(--primary-white-color);
}
/* Footer */
.footer{
    background-color: var(--secondary-bg-color);
}
.logo .second-part{
    color: var(--primary-white-color);
}
.address .street{
    color: var(--primary-white-color);
}
.address .link{
    color: rgba(255, 255, 255, 0.6);
}
.address .link:focus,
.address .link:hover,
.address .street:focus,
.address .street:hover{
    color: var(--accent-color);
}
/* Portfolio */

.filter .btn{
    background-color:var(--inactive-btn-color);
    color:var(--title-text-color);
}

.filter .btn:hover,
.filter .btn:focus{
    background-color:var(--accent-color);
    color:var(--primary-white-color);
}

.projects .title{
    color: var(--title-text-color);
}